openapi: 3.0.3
info:
  version: 0.1.3
  title: Iyzico API
  description: Iyzico Open API Declaration
  contact:
    name: Oğuz Özcan
    url: 'https://vennyx.com'
    email: oguz.ozcan@vennyx.com
  license:
    url: 'https://opensource.org/license/mit'
    name: MIT
servers:
  - url: 'https://sandbox-api.iyzipay.com'
    description: Sandbox
  - url: 'https://api.iyzipay.com'
    description: Production
paths:
  /payment/test:
    get:
      tags:
        - Testing
      summary: API Test
      description: Iyzico API Test endpoint
      operationId: payment-test
      responses:
        '200':
          $ref: '#/components/responses/GetApiTestResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  '/v2/subscription/subscriptions/{subscriptionReferenceCode}/cancel':
    post:
      tags:
        - Subscriptions
      summary: Cancel Subscription
      description: Bir aboneliği iptal etmeye yarar
      operationId: cancel-subscription
      parameters:
        - name: subscriptionReferenceCode
          in: path
          description: Reference code of the subscription
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: '#/components/requestBodies/CancelSubscriptionRequest'
      responses:
        2XX:
          $ref: '#/components/responses/CancelSubscriptionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  /v2/subscription/checkoutform/initialize:
    post:
      tags:
        - Subscription Initialization
      summary: Initialize Subscription Checkout Form
      description: "iyzico Checkout Form oluşturma isteği sonucunda bir htmlContent parametresi döner. Bu javascript kod parçacığı sayfaya yazdırıldığında, iyzico kütüphanesi aşağıda belirtilen “div” lerin herhangi birine yüklenmeye hazırdır. Sayfa tamamen yüklendiğinde checkout form görünecektir.\r\n\r\nCheckout formun yükleneceği div'ler responsive veya popup şeklinde olabilir. Aşağıda örnekleri iletilmiştir.\r\n\r\n<div id=\"iyzipay-checkout-form\" class=\"responsive\"></div>\r\n<div id=\"iyzipay-checkout-form\" class=\"popup\"></div>"
      operationId: initialize-subscription-checkout-form
      requestBody:
        $ref: '#/components/requestBodies/InitializeSubscriptionCheckoutFormRequest'
      responses:
        2XX:
          $ref: '#/components/responses/InitializeSubscriptionCheckoutFormResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  '/v2/subscription/checkoutform/{token}':
    post:
      tags:
        - Subscriptions
      summary: Check Subscription Checkout Form
      description: Ödeme Formu Sonucunu Alma
      operationId: check-subscription-checkout-form
      parameters:
        - name: token
          in: path
          description: Initialization'da belirlenen form token numarası
          required: true
          schema:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/CheckSubscriptionCheckOutFormResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  '/v2/subscription/subscriptions/{subscriptionReferenceCode}/activate':
    post:
      tags:
        - Subscriptions
      summary: Activate Subscription
      description: PENDING ( Beklemede ) durumunda olan aboneliği aktifleştirir.
      operationId: activate-subscription
      parameters:
        - name: subscriptionReferenceCode
          in: path
          description: Abonelik için üretilen eşsiz referans kodu.
          required: true
          schema:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/ActivateSubscriptionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  /operation/retry:
    post:
      tags:
        - Operations
      summary: Retry Payment
      description: İyzico'nun bir ödemeyi tekrar tahsil etmeye çalışmasını sağlar.
      operationId: retry-payment
      requestBody:
        $ref: '#/components/requestBodies/RetryPaymentRequest'
      responses:
        2XX:
          $ref: '#/components/responses/RetryPaymentResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  '/v2/subscription/subscriptions/{subscriptionReferenceCode}/upgrade':
    post:
      tags:
        - Subscriptions
      summary: Upgrade Subscription
      description: "Abonelik planını abonelik süresince değiştirmek veya yükseltmek mümkündür. Bunun için tek gerekli koşul, güncelleme yapılacak yeni plan, aboneliğin bağlı olduğu mevcut ürüne ait olmalıdır.\r\nNOT : Güncelleme yapılacak planların PaymentInterval ve PaymentIntervalCount parametreleri aynı olmalıdır."
      operationId: upgrade-subscription
      parameters:
        - name: subscriptionReferenceCode
          in: path
          description: Abonelik referans kodu
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpgradeSubscriptionRequest'
      responses:
        '500':
          $ref: '#/components/responses/ErrorResponse'
        2XX:
          $ref: '#/components/responses/UpgradeSubscriptionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  '/v2/subscription/subscriptions/{subscriptionReferenceCode}':
    post:
      tags:
        - Subscriptions
      summary: Subscription Details
      description: Bir aboneliğin detaylarını getirir.
      operationId: subscription-details
      parameters:
        - name: subscriptionReferenceCode
          in: path
          description: Abonelik referans kodu
          required: true
          schema:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/SubscriptionDetailsResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  /v2/subscription/subscriptions:
    post:
      tags:
        - Subscriptions
      summary: List Subscriptions
      description: Abonelikleri listeler
      operationId: list-subscriptions
      requestBody:
        $ref: '#/components/requestBodies/ListSubscriptionsRequest'
      responses:
        2XX:
          $ref: '#/components/responses/ListSubscriptionsResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  /v2/subscription/card-update/checkoutform/initialize:
    post:
      tags:
        - Subscription Initialization
      summary: Change Credit Card Used In Subscription
      description: 'Kullanıcının, abonelikte kullandığı kredi kartını değiştirmesini sağlar.'
      operationId: change-credit-card-used-in-subscription
      requestBody:
        $ref: '#/components/requestBodies/ChangeCreditCardUsedInSubscriptionRequest'
      responses:
        2XX:
          $ref: '#/components/responses/ChangeCreditCardUsedInSubscriptionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
tags:
  - name: Operations
    description: Operasyonlar
  - name: Subscription Customer Management
    description: Subscription Customer Management
  - name: Subscription Initialization
    description: Subscription Initialization
  - name: Subscription Pricing Plan Management
    description: Subscription Pricing Plan Management
  - name: Subscription Product Management
    description: Subscription Management
  - name: Subscriptions
    description: Subscription Operations
  - name: Testing
    description: Testing
components:
  requestBodies:
    CancelSubscriptionRequest:
      content:
        application/json:
          schema:
            type: object
            properties:
              locale:
                $ref: '#/components/schemas/ApiLocaleEnum'
              conversationId:
                type: string
            x-examples:
              Example 1:
                locale: tr
                conversationId: string
    InitializeSubscriptionCheckoutFormRequest:
      content:
        application/json:
          schema:
            type: object
            properties:
              pricingPlanReferenceCode:
                type: string
                format: uuid
              locale:
                $ref: '#/components/schemas/ApiLocaleEnum'
              conversationId:
                type: string
              callbackUrl:
                type: string
                format: uri
              customer:
                $ref: '#/components/schemas/SubscriptionCustomer'
              subscriptionInitialStatus:
                $ref: '#/components/schemas/SubscriptionStatusEnum'
            required:
              - pricingPlanReferenceCode
              - callbackUrl
              - customer
            x-examples:
              Example 1:
                pricingPlanReferenceCode: a
                locale: tr
                conversationId: 123f0b3b-8e3f-4f3f-8f0b-3b8e3f4f3f8f
                callbackUrl: s
                customer:
                  identityNumber: '11111111111'
                  gsmNumber: '+905336870999'
                  email: oguz.ozcan@vennyx.com
                  name: Oğuz
                  surname: Özcan
    RetryPaymentRequest:
      content:
        application/json:
          schema:
            type: object
            properties:
              referenceCode:
                type: string
                description: Ödemenin ( Payment ) referans kodu
            required:
              - referenceCode
    UpgradeSubscriptionRequest:
      content:
        application/json:
          schema:
            type: object
            properties:
              resetRecurrenceCount:
                type: boolean
                description: Eğer TRUE gönderilirse ve yeni plan recurrence count değerine sahipse abonelik sonlanma süresi yeni değere göre hesaplanır. Eğer FALSE gönderilirse önceki planın sonlanma tarihi yeni plana aktarılır.
              useTrial:
                type: boolean
                description: Eğer TRUE gönderilir ise deneme süreci dahil edilir.
              upgradePeriod:
                $ref: '#/components/schemas/UpgradePeriodEnum'
              newPricingPlanReferenceCode:
                type: string
                description: Yeni pricing plan referens numarası.
            required:
              - upgradePeriod
              - newPricingPlanReferenceCode
    ListSubscriptionsRequest:
      content:
        application/json:
          schema:
            type: object
            properties:
              subscriptionReferenceCode:
                type: string
                description: ( Opsiyonel ) Abonelik referans kodu ile arama yapmak içindir.
              count:
                type: integer
                description: Sayfa başına kaç abonelik listenelecek.
              page:
                type: integer
                description: Kaçıncı sayfa
              startDate:
                type: string
                format: date
              endDate:
                type: string
                format: date
              subscriptionStatus:
                $ref: '#/components/schemas/SubscriptionStatusEnum'
              pricingPlanReferenceCode:
                type: string
                description: ( Opsiyonel ) Pricing plan referans kodu
              customerReferenceCode:
                type: string
                description: Müşteri referans kodu
              parentReferenceCode:
                type: string
            required:
              - count
              - page
    ChangeCreditCardUsedInSubscriptionRequest:
      content:
        application/json:
          schema:
            type: object
            properties:
              locale:
                $ref: '#/components/schemas/ApiLocaleEnum'
              callBackUrl:
                type: string
                format: uri
              subscriptionReferenceCode:
                type: string
              conversationId:
                type: string
            required:
              - callBackUrl
              - subscriptionReferenceCode
  securitySchemes:
    Authorization:
      type: apiKey
      name: Calculated Authorization Header Content
      in: header
  responses:
    GetApiTestResponse:
      description: Get Api Test Response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/ApiResponseStatusEnum'
              locale:
                $ref: '#/components/schemas/ApiLocaleEnum'
              systemTime:
                type: integer
            required:
              - status
              - locale
              - systemTime
            x-examples:
              Example 1:
                status: success
                locale: tr
                systemTime: 1716347870088
    ErrorResponse:
      description: API Error Response
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: integer
              errorGroup:
                type: string
                enum:
                  - NOT_SUFFICIENT_FUNDS
                  - DO_NOT_HONOUR
                  - INVALID_TRANSACTION
                  - LOST_CARD
                  - STOLEN_CARD
                  - EXPIRED_CARD
                  - INVALID_CVC2
                  - NOT_PERMITTED_TO_CARDHOLDER
                  - NOT_PERMITTED_TO_TERMINAL
                  - FRAUD_SUSPECT
                  - RESTRICTED_BY_LAW
                  - CARD_NOT_PERMITTED
                  - UNKNOWN
                  - INVALID_CVC2_LENGTH
                  - REFER_TO_CARD_ISSUER
                  - INVALID_MERCHANT_OR_SP
                  - BLOCKED_CARD
                  - INVALID_CAVV
                  - INVALID_ECI
                  - BIN_NOT_FOUND
                  - COMMUNICATION_OR_SYSTEM_ERROR
                  - INVALID_CARD_NUMBER
                  - NO_SUCH_ISSUER
                  - DEBIT_CARDS_REQUIRES_3DS
                  - REQUEST_TIMEOUT
                  - NOT_PERMITTED_TO_INSTALLMENT
                  - REQUIRES_DAY_END
                  - RESTRICTED_CARD
                  - EXCEEDS_ALLOWABLE_PIN_TRIES
                  - INVALID_PIN
                  - ISSUER_OR_SWITCH_INOPERATIVE
                  - INVALID_EXPIRE_YEAR_MONTH
                  - INVALID_AMOUNT
              errorName:
                type: string
              errorMessage:
                type: string
              status:
                $ref: '#/components/schemas/ApiResponseStatusEnum'
              locale:
                $ref: '#/components/schemas/ApiLocaleEnum'
              systemTime:
                type: integer
            required:
              - errorCode
              - errorGroup
              - errorName
              - errorMessage
              - status
              - locale
    CancelSubscriptionResponse:
      description: Cancel Subscription Response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/ApiResponseStatusEnum'
              systemTime:
                type: integer
            x-examples:
              Example 1:
                status: success
                systemTime: 1687096973255
    InitializeSubscriptionCheckoutFormResponse:
      description: Abonelik için başlatılan iyzico checkout formunun cevabıdır.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/ApiResponseStatusEnum'
              locale:
                $ref: '#/components/schemas/ApiLocaleEnum'
              systemTime:
                type: integer
              conversationId:
                type: string
              token:
                type: string
              checkoutFormContent:
                type: string
              tokenExpireTime:
                type: integer
            required:
              - status
              - locale
              - systemTime
              - conversationId
              - token
              - checkoutFormContent
              - tokenExpireTime
            x-examples:
              Example 1:
                status: success
                locale: tr
                systemTime: 1716351771556
                conversationId: 71741292-ca7b-42ab-a519-6d0b0387946d
                token: d05b2a53-4c95-4131-a4de-6437e12cf3ef
                checkoutFormContent: '<script type="text/javascript">if (typeof iyziInit == ''undefined'') {var iyziInit = {currency:"TRY",token:"d05b2a53-4c95-4131-a4de-6437e12cf3ef",price:100.00,locale:"tr",baseUrl:"https://sandbox-api.iyzipay.com", merchantGatewayBaseUrl:"https://sandbox-merchantgw.iyzipay.com", registerCardEnabled:false,bkmEnabled:false,bankTransferEnabled:false,bankTransferTimeLimit:{"value":5,"type":"day"},bankTransferRedirectUrl:"",bankTransferCustomUIProps:{},campaignEnabled:false,campaignMarketingUiDisplay:null,paymentSourceName:"",plusInstallmentResponseList:null,payWithIyzicoSingleTab:false,payWithIyzicoSingleTabV2:false,payWithIyzicoOneTab:false,newDesignEnabled:false,mixPaymentEnabled:true,creditCardEnabled:true,bankTransferAccounts:[],userCards:[],fundEnabled:false,memberCheckoutOtpData:{},force3Ds:false,isSandbox:true,storeNewCardEnabled:true,paymentWithNewCardEnabled:true,enabledApmTypes:[],payWithIyzicoUsed:false,payWithIyzicoEnabled:false,payWithIyzicoCustomUI:{},buyerName:"Oğuz",buyerSurname:"Özcan",merchantInfo:"",merchantName:"Sandbox Merchant Name - 3396477",cancelUrl:"",buyerProtectionEnabled:false,hide3DS:true,gsmNumber:"+905336870999",email:"oguz.ozcan@vennyx.com",checkConsumerDetail:{},subscriptionPaymentEnabled:true,ucsEnabled:true,fingerprintEnabled:false,payWithIyzicoFirstTab:false,creditEnabled:false,payWithIyzicoLead:false,goBackUrl:"",metadata : {"debitCardAllowed":"false"},createTag:function(){var iyziJSTag = document.createElement(''script'');iyziJSTag.setAttribute(''src'',''https://sandbox-static.iyzipay.com/checkoutform/v2/bundle.js?v=1716351771513'');document.head.appendChild(iyziJSTag);}};iyziInit.createTag();}</script><script type="text/javascript">if (typeof iyziUcsInit == ''undefined'') {var iyziUcsInit = {"baseUrl":"https://sandbox-api.iyzipay.com", "buyerProtectedConsumer":false,"ucsToken":"efa23c38-5027-4c5b-a2c0-6c23664bc5da","scriptType":"CONSUMER_WITH_CARD_EXIST","buyerProtectedMerchant":false,"maskedGsmNumber":"+90********99","ucsConsentRequiredConsumer":false,"gsmNumber":"+905336870999","merchantName":"Sandbox Merchant Name - 3396477", createTag: function () {var iyziUcsJSTag = document.createElement(''script''); iyziUcsJSTag.setAttribute(''src'', ''https://sandbox-static.iyzipay.com/checkoutform/v2/bundle.js?v=1716351771551''); document.head.appendChild(iyziUcsJSTag);}};if (typeof iyziInit == ''undefined'') { iyziUcsInit.createTag(); }}</script><script type="text/javascript">if (typeof iyziSubscriptionInit == ''undefined'') {var iyziSubscriptionInit = {"daysOfTrialPeriod":"0","intervalCount":"1","subscriptionState":"START_WITH_PAY","interval":"MONTHLY","pricingPlanPrice":"100.00"}}</script>'
                tokenExpireTime: 1800
    CheckSubscriptionCheckOutFormResponse:
      description: Check Subscription Check Out Form Response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/ApiResponseStatusEnum'
              systemTime:
                type: integer
              data:
                $ref: '#/components/schemas/SubscriptionFormData'
            required:
              - status
              - systemTime
              - data
            x-examples:
              Example 1:
                status: success
                systemTime: 1687093881913
                data:
                  referenceCode: 2c9025f4-725a-47e0-8114-97642dd63f0b
                  parentReferenceCode: 47f703ce-76e9-49fd-8ef7-c46dd0942804
                  pricingPlanReferenceCode: d128e8bf-60e4-42f8-8d1b-3190d61b755d
                  customerReferenceCode: 525b7ac7-901a-42cf-bb9f-627c0453fb38
                  subscriptionStatus: ACTIVE
                  trialDays: 30
                  trialStartDate: 1687093881545
                  trialEndDate: 1689685881545
                  createdDate: 1687093881545
                  startDate: 1687093881545
                  endDate: 1692709881545
    ActivateSubscriptionResponse:
      description: Abonelik aktifleştirmeye dönen cevaptır.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/ApiResponseStatusEnum'
              systemTime:
                type: integer
            required:
              - status
              - systemTime
            x-examples:
              Example 1:
                status: success
                systemTime: 1687096973255
    RetryPaymentResponse:
      description: Retry payment response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/ApiResponseStatusEnum'
              systemTime:
                type: integer
            required:
              - status
              - systemTime
            x-examples:
              Example 1:
                status: success
                systemTime: 1687096973255
    UpgradeSubscriptionResponse:
      description: Upgrade subscription response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/ApiResponseStatusEnum'
              systemTime:
                type: integer
            required:
              - status
              - systemTime
            x-examples:
              Example 1:
                status: success
                systemTime: 1687096973255
    SubscriptionDetailsResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/ApiResponseStatusEnum'
              systemTime:
                type: integer
              referenceCode:
                type: string
              parentReferenceCode:
                type: string
              pricingPlanReferenceCode:
                type: string
              customerEmail:
                type: string
              customerReferenceCode:
                type: string
              subscriptionStatus:
                $ref: '#/components/schemas/SubscriptionStatusEnum'
              trialDays:
                type: integer
              trialStartDate:
                type: integer
              trialEndDate:
                type: integer
              createdDate:
                type: integer
              startDate:
                type: integer
              endDate:
                type: integer
            required:
              - status
              - systemTime
              - referenceCode
              - parentReferenceCode
              - pricingPlanReferenceCode
              - customerEmail
              - customerReferenceCode
              - subscriptionStatus
              - createdDate
              - startDate
              - endDate
            x-examples:
              Example 1:
                status: success
                systemTime: 1625246523
                referenceCode: abcd1234
                parentReferenceCode: parent1234
                pricingPlanReferenceCode: 5678
                customerEmail: customer@example.com
                customerReferenceCode: cust1234
                subscriptionStatus: ACTIVE
                trialDays: 14
                trialStartDate: 1625246523
                trialEndDate: 1627858923
                createdDate: 1625246523
                startDate: 1627858923
    ListSubscriptionsResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/ApiResponseStatusEnum'
              systemTime:
                type: integer
              data:
                $ref: '#/components/schemas/ListSubscriptionsData'
            required:
              - status
              - systemTime
              - data
            x-examples:
              Example 1:
                status: success
                systemTime: 1687100005457
                data:
                  totalCount: 0
                  currentPage: 1
                  pageCount: 0
                  items: []
    ChangeCreditCardUsedInSubscriptionResponse:
      description: Bu istek ile checkout form oluşturulur ve müşteri ödemeyi yaptığında belirtilen callBackUrl adresine token bilgisi post edililir. Bu durumda kart başarıyla güncellenmiş demektir.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/ApiResponseStatusEnum'
              systemTime:
                type: integer
              checkoutFormContent:
                type: string
              token:
                type: string
              tokenExpireTime:
                type: integer
                description: Saniye cinsindendir
            required:
              - status
              - systemTime
              - checkoutFormContent
              - token
              - tokenExpireTime
            x-examples:
              Example 1:
                status: success
                systemTime: 1687100005457
                checkoutFormContent: '<script type="text/javascript">if (typeof iyziInit == ''undefined'') {var iyziInit = {currency:"TRY",token:"8e86b16e-9c0f-450d-a09d-0fd8a27e5197",price:1.00,locale:"tr",baseUrl:"https://sandbox-api.iyzipay.com", merchantGatewayBaseUrl:"https://sandbox-merchantgw.iyzipay.com", registerCardEnabled:false,bkmEnabled:false,bankTransferEnabled:false,bankTransferTimeLimit:{"value":5,"type":"day"},bankTransferRedirectUrl:"",bankTransferCustomUIProps:{},campaignEnabled:false,campaignMarketingUiDisplay:null,paymentSourceName:"",plusInstallmentResponseList:null,payWithIyzicoSingleTab:false,payWithIyzicoOneTab:false,mixPaymentEnabled:true,creditCardEnabled:true,bankTransferAccounts:[],userCards:[],fundEnabled:false,memberCheckoutOtpData:{},force3Ds:false,isSandbox:true,storeNewCardEnabled:true,paymentWithNewCardEnabled:true,enabledApmTypes:[],payWithIyzicoUsed:false,payWithIyzicoEnabled:false,payWithIyzicoCustomUI:{},buyerName:"Bünyamin",buyerSurname:"Yaşar",merchantInfo:"",merchantName:"Sandbox Merchant Name - 376927",cancelUrl:"",buyerProtectionEnabled:false,hide3DS:true,gsmNumber:"+905554443322",email:"kerem@altintas.com",checkConsumerDetail:{},subscriptionPaymentEnabled:true,ucsEnabled:true,fingerprintEnabled:false,payWithIyzicoFirstTab:false,creditEnabled:true,payWithIyzicoLead:false,goBackUrl:"",metadata : {"debitCardAllowed":"false"},createTag:function(){var iyziJSTag = document.createElement(''script'');iyziJSTag.setAttribute(''src'',''https://sandbox-static.iyzipay.com/checkoutform/v2/bundle.js?v=1687095783108'');document.head.appendChild(iyziJSTag);}};iyziInit.createTag();}</script><script type="text/javascript">if (typeof iyziUcsInit == ''undefined'') {var iyziUcsInit = {"baseUrl":"https://sandbox-api.iyzipay.com", "ucsToken":"28fac7ba-d34b-4e21-86a8-89785364d59f","scriptType":"UCS_CONSENT","buyerProtectedMerchant":false,"maskedGsmNumber":"+90****22","gsmNumber":"+905554443322","merchantName":"Sandbox Merchant Name - 376927", createTag: function () {var iyziUcsJSTag = document.createElement(''script''); iyziUcsJSTag.setAttribute(''src'', ''https://sandbox-static.iyzipay.com/checkoutform/v2/bundle.js?v=1687095783122''); document.head.appendChild(iyziUcsJSTag);}};if (typeof iyziInit == ''undefined'') { iyziUcsInit.createTag(); }}</script><script type="text/javascript">if (typeof iyziSubscriptionInit == ''undefined'') {var iyziSubscriptionInit = {"daysOfTrialPeriod":"30","intervalCount":"1","subscriptionState":"START_WITH_TRIAL_PERIOD","interval":"WEEKLY","recurrenceCount":"5","pricingPlanPrice":"30.00"}}</script>'
                token: 8e86b16e-9c0f-450d-a09d-0fd8a27e5197
                tokenExpireTime: 1800
  schemas:
    ApiLocaleEnum:
      type: string
      enum:
        - tr
        - en
      title: ApiLocaleEnum
    SubscriptionCustomer:
      type: object
      title: Subscription Customer
      description: Subscription Customer Informations
      properties:
        identityNumber:
          type: string
          description: '11111111111'
          pattern: '^[0-9]{11}$'
          minLength: 11
          maxLength: 11
        gsmNumber:
          type: string
          description: '+905001234567'
        email:
          type: string
          description: mail@domain.com
          format: email
        name:
          type: string
          description: John
        surname:
          type: string
          description: Doe
        shippingAddress:
          $ref: '#/components/schemas/SubscriptionCustomerAddress'
        billingAddress:
          $ref: '#/components/schemas/SubscriptionCustomerAddress'
      required:
        - identityNumber
        - gsmNumber
        - email
        - name
        - surname
        - shippingAddress
        - billingAddress
      x-examples:
        Example 1:
          identityNumber: '11111111111'
          gsmNumber: '+905336870999'
          email: oguz.ozcan@vennyx.com
          name: Oğuz
          surname: Özcan
          shippingAddress:
            address: 'Nidakule Göztepe, Merdivenköy Mah. Bora Sok. No:1'
            zipCode: '34742'
            contactName: Oğuz Özcan
            city: Istanbul
            country: Turkey
          billingAddress:
            address: 'Nidakule Göztepe, Merdivenköy Mah. Bora Sok. No:1'
            zipCode: '34742'
            contactName: Oğuz Özcan
            city: Istanbul
            country: Turkey
    SubscriptionCustomerAddress:
      type: object
      title: Subscription Customer Address
      description: Customer address model for subscriptions
      properties:
        address:
          type: string
          description: 'Nidakule Göztepe, Merdivenköy Mah. Bora Sok. No:1'
        zipCode:
          type: string
          description: '34742'
        contactName:
          type: string
          description: John Doe
        city:
          type: string
          description: Istanbul
        country:
          type: string
          description: Turkey
      required:
        - address
        - contactName
        - city
        - country
      x-examples:
        Example 1:
          address: 'Nidakule Göztepe, Merdivenköy Mah. Bora Sok. No:1'
          zipCode: '34742'
          contactName: Oğuz Özcan
          city: Istanbul
          country: Turkey
    SubscriptionStatusEnum:
      type: string
      enum:
        - PENDING
        - ACTIVE
      title: SubscriptionStatusEnum
    UpgradePeriodEnum:
      type: string
      enum:
        - NOW
        - NEXT_PERIOD
      title: UpgradePeriodEnum
      description: UpgradePeriodEnum
    ApiResponseStatusEnum:
      type: string
      enum:
        - success
        - failure
      title: ApiResponseStatusEnum
    SubscriptionFormData:
      type: object
      properties:
        referenceCode:
          type: string
          description: Abonelik için üretilen eşsiz referans kodu.
        parentReferenceCode:
          type: string
          description: Abonelik güncellemelerinde üye işeyerinin eşleştirme yapılabileceği eşsiz referans kodu.
        pricingPlanReferenceCode:
          type: string
          description: Aboneliğe ait plan referans kodu.
        customerReferenceCode:
          type: string
          description: Müşteri bilgilerine istinaden oluşturulmuş eşsiz müşteri kodu. Bu kod email adresi baz alınarak oluşturulur ve müşteri işlemleri bu kod ile de yapılabilir.
        subscriptionStatus:
          $ref: '#/components/schemas/SubscriptionStatusEnum'
        trialDays:
          type: integer
          description: '30'
        trialStartDate:
          type: integer
        trialEndDate:
          type: integer
        createdDate:
          type: integer
          description: '1687093881545'
        startDate:
          type: integer
          description: '1687093881545'
        endDate:
          type: integer
          description: '1687093881545'
      required:
        - referenceCode
        - parentReferenceCode
        - pricingPlanReferenceCode
        - customerReferenceCode
        - createdDate
        - startDate
        - endDate
      x-examples:
        Example 1:
          referenceCode: 2c9025f4-725a-47e0-8114-97642dd63f0b
          parentReferenceCode: 47f703ce-76e9-49fd-8ef7-c46dd0942804
          pricingPlanReferenceCode: d128e8bf-60e4-42f8-8d1b-3190d61b755d
          customerReferenceCode: 525b7ac7-901a-42cf-bb9f-627c0453fb38
          subscriptionStatus: ACTIVE
          trialDays: 30
          trialStartDate: 1687093881545
          trialEndDate: 1689685881545
          createdDate: 1687093881545
          startDate: 1687093881545
          endDate: 1692709881545
    ListSubscriptionsData:
      type: object
      title: List Subscriptions Data
      description: List Subscriptions Data
      properties:
        totalCount:
          type: integer
        currentPage:
          type: integer
        pageCount:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionItemData'
      required:
        - totalCount
        - currentPage
        - pageCount
        - items
      x-examples:
        Example 1:
          totalCount: 0
          currentPage: 1
          pageCount: 0
          items: []
    SubscriptionItemData:
      type: object
      properties:
        referenceCode:
          type: string
        parentReferenceCode:
          type: string
        pricingPlanReferenceCode:
          type: string
        customerEmail:
          type: string
        customerReferenceCode:
          type: string
        subscriptionStatus:
          $ref: '#/components/schemas/SubscriptionStatusEnum'
        trialDays:
          type: integer
        trialStartDate:
          type: integer
        trialEndDate:
          type: integer
        createdDate:
          type: integer
        startDate:
          type: integer
        endDate:
          type: integer
      required:
        - referenceCode
        - parentReferenceCode
        - pricingPlanReferenceCode
        - customerReferenceCode
        - subscriptionStatus
        - createdDate
        - startDate
        - endDate
      x-examples:
        Example 1:
          referenceCode: string
          parentReferenceCode: string
          pricingPlanReferenceCode: string
          customerEmail: string
          customerReferenceCode: string
          subscriptionStatus: PENDING
          trialDays: 0
          trialStartDate: 0
          trialEndDate: 0
          createdDate: 0
          startDate: 0
          endDate: 0
security:
  - Authorization: []
