openapi: 3.0.3
info:
  version: 0.1.7
  title: Iyzico API
  description: Iyzico Open API Declaration
  contact:
    name: Oğuz Özcan
    url: 'https://vennyx.com'
    email: oguz.ozcan@vennyx.com
  license:
    url: 'https://opensource.org/license/mit'
    name: MIT
servers:
  - url: 'https://sandbox-api.iyzipay.com'
    description: Sandbox
  - url: 'https://api.iyzipay.com'
    description: Production
paths:
  /payment/test:
    get:
      tags:
        - Testing
      summary: API Test
      description: Iyzico API Test endpoint
      operationId: payment-test
      responses:
        '200':
          $ref: '#/components/responses/GetApiTestResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  /v2/subscription/checkoutform/initialize:
    post:
      tags:
        - Subscription Initialization
      summary: Initialize Subscription Checkout Form
      description: "iyzico Checkout Form oluşturma isteği sonucunda bir htmlContent parametresi döner. Bu javascript kod parçacığı sayfaya yazdırıldığında, iyzico kütüphanesi aşağıda belirtilen “div” lerin herhangi birine yüklenmeye hazırdır. Sayfa tamamen yüklendiğinde checkout form görünecektir.\r\n\r\nCheckout formun yükleneceği div'ler responsive veya popup şeklinde olabilir. Aşağıda örnekleri iletilmiştir.\r\n\r\n<div id=\"iyzipay-checkout-form\" class=\"responsive\"></div>\r\n<div id=\"iyzipay-checkout-form\" class=\"popup\"></div>"
      operationId: initialize-subscription-checkout-form
      requestBody:
        $ref: '#/components/requestBodies/InitializeSubscriptionCheckoutFormRequest'
      responses:
        2XX:
          $ref: '#/components/responses/InitializeSubscriptionCheckoutFormResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  '/v2/subscription/checkoutform/{token}':
    post:
      tags:
        - Subscriptions
      summary: Check Subscription Checkout Form
      description: Ödeme Formu Sonucunu Alma
      operationId: check-subscription-checkout-form
      parameters:
        - name: token
          in: path
          description: Initialization'da belirlenen form token numarası
          required: true
          schema:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/CheckSubscriptionCheckOutFormResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  /operation/retry:
    post:
      tags:
        - Operations
      summary: Retry Payment
      description: İyzico'nun bir ödemeyi tekrar tahsil etmeye çalışmasını sağlar.
      operationId: retry-payment
      requestBody:
        $ref: '#/components/requestBodies/RetryPaymentRequest'
      responses:
        2XX:
          $ref: '#/components/responses/RetryPaymentResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  /v2/subscription/subscriptions:
    post:
      tags:
        - Subscriptions
      summary: List Subscriptions
      description: Abonelikleri listeler
      operationId: list-subscriptions
      requestBody:
        $ref: '#/components/requestBodies/ListSubscriptionsRequest'
      responses:
        2XX:
          $ref: '#/components/responses/ListSubscriptionsResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/count'
  '/v2/subscription/subscriptions/{subscriptionReferenceCode}':
    post:
      tags:
        - Subscriptions
      summary: Get Subscription
      description: Bir aboneliğin detaylarını getirir.
      operationId: get-subscription
      parameters:
        - name: subscriptionReferenceCode
          in: path
          description: Abonelik referans kodu
          required: true
          schema:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/GetSubscriptionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  '/v2/subscription/subscriptions/{subscriptionReferenceCode}/cancel':
    post:
      tags:
        - Subscriptions
      summary: Cancel Subscription
      description: Bir aboneliği iptal etmeye yarar
      operationId: cancel-subscription
      parameters:
        - name: subscriptionReferenceCode
          in: path
          description: Reference code of the subscription
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: '#/components/requestBodies/CancelSubscriptionRequest'
      responses:
        2XX:
          $ref: '#/components/responses/CancelSubscriptionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  '/v2/subscription/subscriptions/{subscriptionReferenceCode}/activate':
    post:
      tags:
        - Subscriptions
      summary: Activate Subscription
      description: PENDING ( Beklemede ) durumunda olan aboneliği aktifleştirir.
      operationId: activate-subscription
      parameters:
        - name: subscriptionReferenceCode
          in: path
          description: Abonelik için üretilen eşsiz referans kodu.
          required: true
          schema:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/ActivateSubscriptionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  '/v2/subscription/subscriptions/{subscriptionReferenceCode}/upgrade':
    post:
      tags:
        - Subscriptions
      summary: Upgrade Subscription
      description: "Abonelik planını abonelik süresince değiştirmek veya yükseltmek mümkündür. Bunun için tek gerekli koşul, güncelleme yapılacak yeni plan, aboneliğin bağlı olduğu mevcut ürüne ait olmalıdır.\r\nNOT : Güncelleme yapılacak planların PaymentInterval ve PaymentIntervalCount parametreleri aynı olmalıdır."
      operationId: upgrade-subscription
      parameters:
        - name: subscriptionReferenceCode
          in: path
          description: Abonelik referans kodu
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpgradeSubscriptionRequest'
      responses:
        '500':
          $ref: '#/components/responses/ErrorResponse'
        2XX:
          $ref: '#/components/responses/UpgradeSubscriptionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  /v2/subscription/card-update/checkoutform/initialize:
    post:
      tags:
        - Subscription Initialization
      summary: Change Credit Card Used In Subscription
      description: 'Kullanıcının, abonelikte kullandığı kredi kartını değiştirmesini sağlar.'
      operationId: change-credit-card-used-in-subscription
      requestBody:
        $ref: '#/components/requestBodies/ChangeCreditCardUsedInSubscriptionRequest'
      responses:
        2XX:
          $ref: '#/components/responses/ChangeCreditCardUsedInSubscriptionResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - Authorization: []
      servers:
        - url: 'https://sandbox-api.iyzipay.com'
          description: Sandbox
        - url: 'https://api.iyzipay.com'
          description: Production
  /v2/subscription/products:
    post:
      summary: Create Subscription Product
      tags:
        - Subscription Product Management
      responses:
        2XX:
          $ref: '#/components/responses/CreateSubscriptionProductResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      operationId: create-subscription-product
      x-stoplight:
        id: pw6mz8jgwsjen
      description: Subscription API ödeme planlarına göre tekrarlı ödeme alır ve her ödeme planı en az bir ürüne bağlıdır. Ürün sayısında herhangi bir sınırlama yoktur ve sadece isim bilgisi gönderilerek bir ürün oluşturulabilir.
      requestBody:
        $ref: '#/components/requestBodies/CreateSubscriptionProductRequest'
    get:
      summary: List Subscription Products
      responses:
        2XX:
          $ref: '#/components/responses/ListSubscriptionProductsResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      operationId: list-subscription-products
      x-stoplight:
        id: ls60ttx4jq4c7
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/count'
      tags:
        - Subscription Product Management
      description: Ürün listeleme tüm ürünlere ve ürünlere bağlı planlara ulaşmak için kullanılır. Cevap süresini kısaltmak ve cevap boyutunu kısaltmak için sayfalama metodu kullanulmıştır. Bu sayede ürün listesini sayfa sayfa hızlıca alabilirsiniz.
  '/v2/subscription/products/{subscriptionProductReferenceCode}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: subscriptionProductReferenceCode
        in: path
        required: true
        description: Abonelik ürününün referans kodu
    post:
      summary: Update Subscription Product
      tags:
        - Subscription Product Management
      responses:
        2XX:
          $ref: '#/components/responses/UpdateSubscriptionProductResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      operationId: update-subscription-product
      x-stoplight:
        id: jn2qvyookvmb4
      description: 'Bir ürünün isim ve açıklama bilgileri hem API hem de iyzico merchant paneli üzerinden düzenlenebilir. API üzerinden bu işlemi yapabilmek için, ürüne ait eşsiz referans kodu kullanılmalıdır.'
      requestBody:
        $ref: '#/components/requestBodies/UpdateSubscriptionProductRequest'
    delete:
      summary: Delete Subscription Product
      tags:
        - Subscription Product Management
      responses:
        2XX:
          $ref: '#/components/responses/DeleteSubscriptionProductResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      operationId: delete-subscription-product
      x-stoplight:
        id: yh0sb37n495e4
      description: Ürünler kendilerine bağlı herhangi bir plan olmadıkça hem API hem de iyzico merchant panel üzerinden silinebilir.
    get:
      summary: Get Subscription Product
      tags:
        - Subscription Product Management
      responses:
        2XX:
          $ref: '#/components/responses/GetSubscriptionProductResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-subscription-product
      x-stoplight:
        id: z2uoz1q5grmce
      description: Bir ürünün detaylarına API isteği ile ulaşılabilir. Bunun için gönderilen istekte ürün refereans kodunu belirtmek yeterlidir.
  '/v2/subscription/products/{subscriptionProductReferenceCode}/pricing-plans':
    parameters:
      - schema:
          type: string
          format: uuid
        name: subscriptionProductReferenceCode
        in: path
        required: true
        description: Abonelik ürününün referans kodu
    post:
      summary: Create Subscription Plan
      tags:
        - Subscription Pricing Plan Management
      responses:
        2XX:
          $ref: '#/components/responses/CreateSubscriptionPlanResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      operationId: create-subscription-plan
      x-stoplight:
        id: l41h7olg3322t
      description: "Bir plan oluşturmak için, ürün referans numarası, isim, fiyat, para birimi, ödeme periyodu gibi aşağıda detayları paylaşılan parametrelerlerin gönderilmesi gerekir.\r\n\r\nBir aboneliğin deneme sürecinin olması istenirse trialPeriodDays parametresi kullanılabilir. Eğer bu parametre gönderilirse, belirtilen değer süresince abonelik başlatılmaz ve karttan hiçbir şekilde ödeme alınmaz.\r\n\r\nİstekte belirtilen Payment Interval parametresi ödeme periyodunu belirtir. Bir plan oluştururken “WEEKLY” parametresi gönderilirse, iyzico belirtilen tutarı her hafta karttan çekecektir. Bu periyodun özelleştirilmesi de mümkündür. Örneğin ödemenin 2 haftada bir alınmasını isterseniz, PaymentInterval değerini “WEEKLY” ve paymentIntervalCount değerini 2 olarak göndermeniz gerekmektedir.\r\n\r\nNOT : planPaymentType parametresi zorunludur ve şu an için sadece RECURRING değerini alabilir."
      requestBody:
        $ref: '#/components/requestBodies/CreateSubscriptionPlanRequest'
    get:
      summary: List Subscription Pricing Plans
      tags:
        - Subscription Pricing Plan Management
      responses:
        2XX:
          $ref: '#/components/responses/ListSubscriptionPricingPlansResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      operationId: list-subscription-pricing-plans
      x-stoplight:
        id: bledwueukpd1u
      description: Tüm planlar ve bağlı olduğu ürünler bu istek sonucu görülebilir. Cevap sayfalar halinde iletilir
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/count'
  '/v2/subscription/pricing-plans/{pricingPlanReferenceCode}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: pricingPlanReferenceCode
        in: path
        required: true
        description: Abonelik ödeme planı referans kodu
    post:
      summary: Update Subscription Pricing Plan
      tags:
        - Subscription Pricing Plan Management
      responses:
        2XX:
          $ref: '#/components/responses/UpdateSubscriptionPricingPlanResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      operationId: update-subscription-pricing-plan
      x-stoplight:
        id: 4cmv4ggmcyijf
      requestBody:
        $ref: '#/components/requestBodies/UpdateSubscriptionPricingPlanRequest'
      description: Bu metod sadece name ve trialPeriodDays parametrelerinin güncellenmesine izin verir. Plan güncellemesi yapabilmek için o plana ait eşsiz referans kodu kullanılmalıdır. Güncellemenin hem API hem de iyzico merchant paneli üzerinden yapılması mümkündür.
    delete:
      summary: Delete Subscription Pricing Plan
      tags:
        - Subscription Pricing Plan Management
      responses:
        2XX:
          $ref: '#/components/responses/DeleteSubscriptionPricingPlanResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      operationId: delete-subscription-pricing-plan
      x-stoplight:
        id: aglb0r9kgq55d
      description: Bir plan ancak kendisine bağlı herhangi bir abonelik yoksa silinebilir. Silme işlemi için üye işeyeri plan referans kodunu kullanmalıdır. İstek success veya failure olarak cevaplanır. Success ise plan başaırı ile silinmiş demektir.
    get:
      summary: Get Subscription Pricing Plan
      tags:
        - Subscription Pricing Plan Management
      responses:
        2XX:
          $ref: '#/components/responses/GetSubscriptionPricingPlanResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-subscription-pricing-plan
      x-stoplight:
        id: 7vvkmbo97vun4
      description: Üye işyerleri bir planın tüm detaylarını hem merchant panelinden hem de API istekleri üzerinden görebilir.
  /v2/subscription/customers:
    get:
      summary: List Subscription Customers
      tags:
        - Subscription Customer Management
      responses:
        2XX:
          $ref: '#/components/responses/ListSubscriptionCustomersResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      operationId: list-subscription-customers
      x-stoplight:
        id: 6b1jabeyvgeni
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/count'
      description: Tüm aboneleri ve detaylarını bu istek ile listeleyebilirsiniz
  '/v2/subscription/customers/{subscriptionCustomerReferenceCode}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: subscriptionCustomerReferenceCode
        in: path
        required: true
        description: Subscription customer reference code
    post:
      summary: Update Subscription Customer
      tags:
        - Subscription Customer Management
      responses:
        2XX:
          $ref: '#/components/responses/UpdateSubscriptionCustomerResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      operationId: update-subscription-customer
      x-stoplight:
        id: b3xbj1oyhupnx
      description: Bir abonenin tüm detayları API isteği ile güncellenebilir. Bunun için aboneye ait referans kodu ve güncellemek istenen parametreler ile güncelleme isteği atılması gereklidir.
      requestBody:
        $ref: '#/components/requestBodies/UpdateSubscriptionCustomerRequest'
    get:
      summary: Get Subscription Customer
      tags:
        - Subscription Customer Management
      responses:
        2XX:
          $ref: '#/components/responses/GetSubscriptionCustomerResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
        5XX:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-subscription-customer
      x-stoplight:
        id: vks3ind7kykzt
      description: Bir aboneninin tüm detayları o aboneye ait referans kodu ile çağırılabilir.
tags:
  - name: Operations
    description: Operasyonlar
  - name: Subscription Customer Management
    description: Subscription Customer Management
  - name: Subscription Initialization
    description: Subscription Initialization
  - name: Subscription Pricing Plan Management
    description: Subscription Pricing Plan Management
  - name: Subscription Product Management
    description: Subscription Management
  - name: Subscriptions
    description: Subscription Operations
  - name: Testing
    description: Testing
components:
  requestBodies:
    CancelSubscriptionRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LocaleAndConversationId'
    InitializeSubscriptionCheckoutFormRequest:
      content:
        application/json:
          schema:
            type: object
            properties:
              pricingPlanReferenceCode:
                type: string
                format: uuid
              locale:
                $ref: '#/components/schemas/EnumApiLocale'
              conversationId:
                type: string
              callbackUrl:
                type: string
                format: uri
              customer:
                $ref: '#/components/schemas/SubscriptionCustomer'
              subscriptionInitialStatus:
                $ref: '#/components/schemas/EnumSubscriptionStatus'
            required:
              - pricingPlanReferenceCode
              - callbackUrl
              - customer
            x-examples:
              Example 1:
                pricingPlanReferenceCode: a
                locale: tr
                conversationId: 123f0b3b-8e3f-4f3f-8f0b-3b8e3f4f3f8f
                callbackUrl: s
                customer:
                  identityNumber: '11111111111'
                  gsmNumber: '+905336870999'
                  email: oguz.ozcan@vennyx.com
                  name: Oğuz
                  surname: Özcan
    RetryPaymentRequest:
      content:
        application/json:
          schema:
            type: object
            properties:
              referenceCode:
                type: string
                description: Ödemenin ( Payment ) referans kodu
            required:
              - referenceCode
    UpgradeSubscriptionRequest:
      content:
        application/json:
          schema:
            type: object
            required:
              - upgradePeriod
              - newPricingPlanReferenceCode
            properties:
              resetRecurrenceCount:
                type: boolean
                description: Eğer TRUE gönderilirse ve yeni plan recurrence count değerine sahipse abonelik sonlanma süresi yeni değere göre hesaplanır. Eğer FALSE gönderilirse önceki planın sonlanma tarihi yeni plana aktarılır.
              useTrial:
                type: boolean
                description: Eğer TRUE gönderilir ise deneme süreci dahil edilir.
              upgradePeriod:
                $ref: '#/components/schemas/EnumUpgradePeriod'
              newPricingPlanReferenceCode:
                type: string
                description: Yeni pricing plan referens numarası.
    ListSubscriptionsRequest:
      content:
        application/json:
          schema:
            type: object
            properties:
              subscriptionReferenceCode:
                type: string
                description: ( Opsiyonel ) Abonelik referans kodu ile arama yapmak içindir.
              count:
                type: integer
                description: Sayfa başına kaç abonelik listenelecek.
              page:
                type: integer
                description: Kaçıncı sayfa
              startDate:
                type: string
                format: date
              endDate:
                type: string
                format: date
              subscriptionStatus:
                $ref: '#/components/schemas/EnumSubscriptionStatus'
              pricingPlanReferenceCode:
                type: string
                description: ( Opsiyonel ) Pricing plan referans kodu
              customerReferenceCode:
                type: string
                description: Müşteri referans kodu
              parentReferenceCode:
                type: string
            required:
              - count
              - page
    ChangeCreditCardUsedInSubscriptionRequest:
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/LocaleAndConversationId'
              - type: object
                required:
                  - callBackUrl
                  - subscriptionReferenceCode
                properties:
                  callBackUrl:
                    type: string
                    format: uri
                  subscriptionReferenceCode:
                    type: string
                    format: uuid
    CreateSubscriptionProductRequest:
      content:
        application/json:
          schema:
            type: object
            required:
              - name
            properties:
              conversationId:
                type: string
                x-stoplight:
                  id: zlsvmcbq00jyb
              locale:
                $ref: '#/components/schemas/EnumApiLocale'
              description:
                type: string
                x-stoplight:
                  id: czjed9tj11ox5
              name:
                type: string
                x-stoplight:
                  id: rmfnyw68jpmkj
    UpdateSubscriptionProductRequest:
      content:
        application/json:
          schema:
            type: object
            required:
              - name
            properties:
              locale:
                $ref: '#/components/schemas/EnumApiLocale'
              description:
                type: string
                x-stoplight:
                  id: 7s3mbyppof0bd
              name:
                type: string
                x-stoplight:
                  id: p0gumwut1lm04
    CreateSubscriptionPlanRequest:
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/LocaleAndConversationId'
              - type: object
                required:
                  - name
                  - planPaymentType
                  - paymentIntervalCount
                  - paymentInterval
                  - currencyCode
                  - price
                properties:
                  name:
                    type: string
                    x-stoplight:
                      id: zxbgd4a07yfmz
                    description: Plan adı. Ödeme planı ile ilgili kısa bir bilgilendirme olacak şekilde değer girilmelidir.
                  recurrenceCount:
                    type: integer
                    x-stoplight:
                      id: u0dgru9dlb15y
                    description: 'Ödeme periyodunun kaç kez tekrarlanacağını belirler. Örneğin ayda bir ödeme alan planınıza bu değeri 12 olarak girerseniz, 12 ay boyunca ödeme alınacaktır.'
                  planPaymentType:
                    $ref: '#/components/schemas/EnumSubscriptionPlanPaymentType'
                  trialPeriodDays:
                    type: integer
                    x-stoplight:
                      id: y5o7bm87e9ooq
                    description: 'Deneme süresi veya ücretsiz kullanım süresi olarak kullanılır. Bu değer girilirse, ilk ödeme girilen gün sayısı sonunda alınır.'
                  paymentIntervalCount:
                    type: integer
                    x-stoplight:
                      id: 31h0li61kb7dq
                    description: 'Ödeme periodunun hangi sıklıkta olacağını belirler. Örneğin paymentInterval değeri WEEKLY, paymentIntervalCount değeri 2 olursa, ödemeler 2 hafta bir alınır.'
                  paymentInterval:
                    $ref: '#/components/schemas/EnumSubscriptionPricingPlanInterval'
                  currencyCode:
                    $ref: '#/components/schemas/EnumCurrencyUnit'
                  price:
                    type: number
                    x-stoplight:
                      id: zbkvzbu4j6gdr
                    format: double
      description: CreateSubscriptionPlanRequest
    UpdateSubscriptionPricingPlanRequest:
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/LocaleAndConversationId'
              - type: object
                x-stoplight:
                  id: tbatu7z64utw8
                required:
                  - name
                properties:
                  name:
                    type: string
                    x-stoplight:
                      id: t9fw8g06j64c2
                    description: Plan adı. Ödeme planı ile ilgili kısa bir bilgilendirme olacak şekilde değer girilmelidir.
                  trialPeriodDays:
                    type: integer
                    x-stoplight:
                      id: fgieysh6eo7tv
                    description: 'Deneme süresi veya ücretsiz kullanım süresi olarak kullanılır. Bu değer girilirse, ilk ödeme girilen gün sayısı sonunda alınır.'
    UpdateSubscriptionCustomerRequest:
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/LocaleAndConversationId'
              - x-stoplight:
                  id: 9petas2iftomk
                type: object
                required:
                  - name
                  - identityNumber
                  - surname
                  - billingAddress
                  - shippingAddress
                properties:
                  name:
                    type: string
                    x-stoplight:
                      id: vwbfy69msdsg7
                  identityNumber:
                    type: string
                    x-stoplight:
                      id: 2lpaqxu58mq9q
                  surname:
                    type: string
                    x-stoplight:
                      id: fgkniyilwbjz5
                  billingAddress:
                    $ref: '#/components/schemas/SubscriptionCustomerAddress'
                  shippingAddress:
                    $ref: '#/components/schemas/SubscriptionCustomerAddress'
  securitySchemes:
    Authorization:
      type: apiKey
      name: Calculated Authorization Header Content
      in: header
  responses:
    GetApiTestResponse:
      description: Get Api Test Response
      content:
        application/json:
          schema:
            x-examples:
              Example 1:
                status: success
                locale: tr
                systemTime: 1716347870088
            allOf:
              - $ref: '#/components/schemas/StatusAndSystemTime'
              - type: object
                required:
                  - locale
                properties:
                  locale:
                    $ref: '#/components/schemas/EnumApiLocale'
    ErrorResponse:
      description: API Error Response
      content:
        application/json:
          schema:
            type: object
            required:
              - errorCode
              - errorGroup
              - errorName
              - errorMessage
              - status
              - locale
              - systemTime
            properties:
              errorCode:
                type: integer
              errorGroup:
                type: string
                enum:
                  - NOT_SUFFICIENT_FUNDS
                  - DO_NOT_HONOUR
                  - INVALID_TRANSACTION
                  - LOST_CARD
                  - STOLEN_CARD
                  - EXPIRED_CARD
                  - INVALID_CVC2
                  - NOT_PERMITTED_TO_CARDHOLDER
                  - NOT_PERMITTED_TO_TERMINAL
                  - FRAUD_SUSPECT
                  - RESTRICTED_BY_LAW
                  - CARD_NOT_PERMITTED
                  - UNKNOWN
                  - INVALID_CVC2_LENGTH
                  - REFER_TO_CARD_ISSUER
                  - INVALID_MERCHANT_OR_SP
                  - BLOCKED_CARD
                  - INVALID_CAVV
                  - INVALID_ECI
                  - BIN_NOT_FOUND
                  - COMMUNICATION_OR_SYSTEM_ERROR
                  - INVALID_CARD_NUMBER
                  - NO_SUCH_ISSUER
                  - DEBIT_CARDS_REQUIRES_3DS
                  - REQUEST_TIMEOUT
                  - NOT_PERMITTED_TO_INSTALLMENT
                  - REQUIRES_DAY_END
                  - RESTRICTED_CARD
                  - EXCEEDS_ALLOWABLE_PIN_TRIES
                  - INVALID_PIN
                  - ISSUER_OR_SWITCH_INOPERATIVE
                  - INVALID_EXPIRE_YEAR_MONTH
                  - INVALID_AMOUNT
              errorName:
                type: string
              errorMessage:
                type: string
              status:
                $ref: '#/components/schemas/EnumApiResponseStatus'
              locale:
                $ref: '#/components/schemas/EnumApiLocale'
              systemTime:
                type: integer
    CancelSubscriptionResponse:
      description: Cancel Subscription Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StatusAndSystemTime'
    InitializeSubscriptionCheckoutFormResponse:
      description: Abonelik için başlatılan iyzico checkout formunun cevabıdır.
      content:
        application/json:
          schema:
            x-examples:
              Example 1:
                status: success
                locale: tr
                systemTime: 1716351771556
                conversationId: 71741292-ca7b-42ab-a519-6d0b0387946d
                token: d05b2a53-4c95-4131-a4de-6437e12cf3ef
                checkoutFormContent: '<script type="text/javascript">if (typeof iyziInit == ''undefined'') {var iyziInit = {currency:"TRY",token:"d05b2a53-4c95-4131-a4de-6437e12cf3ef",price:100.00,locale:"tr",baseUrl:"https://sandbox-api.iyzipay.com", merchantGatewayBaseUrl:"https://sandbox-merchantgw.iyzipay.com", registerCardEnabled:false,bkmEnabled:false,bankTransferEnabled:false,bankTransferTimeLimit:{"value":5,"type":"day"},bankTransferRedirectUrl:"",bankTransferCustomUIProps:{},campaignEnabled:false,campaignMarketingUiDisplay:null,paymentSourceName:"",plusInstallmentResponseList:null,payWithIyzicoSingleTab:false,payWithIyzicoSingleTabV2:false,payWithIyzicoOneTab:false,newDesignEnabled:false,mixPaymentEnabled:true,creditCardEnabled:true,bankTransferAccounts:[],userCards:[],fundEnabled:false,memberCheckoutOtpData:{},force3Ds:false,isSandbox:true,storeNewCardEnabled:true,paymentWithNewCardEnabled:true,enabledApmTypes:[],payWithIyzicoUsed:false,payWithIyzicoEnabled:false,payWithIyzicoCustomUI:{},buyerName:"Oğuz",buyerSurname:"Özcan",merchantInfo:"",merchantName:"Sandbox Merchant Name - 3396477",cancelUrl:"",buyerProtectionEnabled:false,hide3DS:true,gsmNumber:"+905336870999",email:"oguz.ozcan@vennyx.com",checkConsumerDetail:{},subscriptionPaymentEnabled:true,ucsEnabled:true,fingerprintEnabled:false,payWithIyzicoFirstTab:false,creditEnabled:false,payWithIyzicoLead:false,goBackUrl:"",metadata : {"debitCardAllowed":"false"},createTag:function(){var iyziJSTag = document.createElement(''script'');iyziJSTag.setAttribute(''src'',''https://sandbox-static.iyzipay.com/checkoutform/v2/bundle.js?v=1716351771513'');document.head.appendChild(iyziJSTag);}};iyziInit.createTag();}</script><script type="text/javascript">if (typeof iyziUcsInit == ''undefined'') {var iyziUcsInit = {"baseUrl":"https://sandbox-api.iyzipay.com", "buyerProtectedConsumer":false,"ucsToken":"efa23c38-5027-4c5b-a2c0-6c23664bc5da","scriptType":"CONSUMER_WITH_CARD_EXIST","buyerProtectedMerchant":false,"maskedGsmNumber":"+90********99","ucsConsentRequiredConsumer":false,"gsmNumber":"+905336870999","merchantName":"Sandbox Merchant Name - 3396477", createTag: function () {var iyziUcsJSTag = document.createElement(''script''); iyziUcsJSTag.setAttribute(''src'', ''https://sandbox-static.iyzipay.com/checkoutform/v2/bundle.js?v=1716351771551''); document.head.appendChild(iyziUcsJSTag);}};if (typeof iyziInit == ''undefined'') { iyziUcsInit.createTag(); }}</script><script type="text/javascript">if (typeof iyziSubscriptionInit == ''undefined'') {var iyziSubscriptionInit = {"daysOfTrialPeriod":"0","intervalCount":"1","subscriptionState":"START_WITH_PAY","interval":"MONTHLY","pricingPlanPrice":"100.00"}}</script>'
                tokenExpireTime: 1800
            allOf:
              - $ref: '#/components/schemas/StatusAndSystemTime'
              - $ref: '#/components/schemas/LocaleAndConversationId'
              - $ref: '#/components/schemas/InitializeSubscriptionResponseFields'
    CheckSubscriptionCheckOutFormResponse:
      description: Check Subscription Check Out Form Response
      content:
        application/json:
          schema:
            x-examples:
              Example 1:
                status: success
                systemTime: 1687093881913
                data:
                  referenceCode: 2c9025f4-725a-47e0-8114-97642dd63f0b
                  parentReferenceCode: 47f703ce-76e9-49fd-8ef7-c46dd0942804
                  pricingPlanReferenceCode: d128e8bf-60e4-42f8-8d1b-3190d61b755d
                  customerReferenceCode: 525b7ac7-901a-42cf-bb9f-627c0453fb38
                  subscriptionStatus: ACTIVE
                  trialDays: 30
                  trialStartDate: 1687093881545
                  trialEndDate: 1689685881545
                  createdDate: 1687093881545
                  startDate: 1687093881545
                  endDate: 1692709881545
            allOf:
              - $ref: '#/components/schemas/StatusAndSystemTime'
              - type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Subscription'
    ActivateSubscriptionResponse:
      description: Abonelik aktifleştirmeye dönen cevaptır.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StatusAndSystemTime'
    RetryPaymentResponse:
      description: Retry payment response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StatusAndSystemTime'
    UpgradeSubscriptionResponse:
      description: Upgrade subscription response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StatusAndSystemTime'
    GetSubscriptionResponse:
      description: Example response
      content:
        application/json:
          schema:
            x-examples:
              Example 1:
                status: success
                systemTime: 1625246523
                referenceCode: abcd1234
                parentReferenceCode: parent1234
                pricingPlanReferenceCode: 5678
                customerEmail: customer@example.com
                customerReferenceCode: cust1234
                subscriptionStatus: ACTIVE
                trialDays: 14
                trialStartDate: 1625246523
                trialEndDate: 1627858923
                createdDate: 1625246523
                startDate: 1627858923
            allOf:
              - $ref: '#/components/schemas/StatusAndSystemTime'
              - type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Subscription'
    ListSubscriptionsResponse:
      description: Example response
      content:
        application/json:
          schema:
            x-examples:
              Example 1:
                status: success
                systemTime: 1687100005457
                data:
                  totalCount: 0
                  currentPage: 1
                  pageCount: 0
                  items: []
            allOf:
              - $ref: '#/components/schemas/StatusAndSystemTime'
              - type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ListSubscriptionsPagination'
    ChangeCreditCardUsedInSubscriptionResponse:
      description: Bu istek ile checkout form oluşturulur ve müşteri ödemeyi yaptığında belirtilen callBackUrl adresine token bilgisi post edililir. Bu durumda kart başarıyla güncellenmiş demektir.
      content:
        application/json:
          schema:
            x-examples:
              Example 1:
                status: success
                systemTime: 1687100005457
                checkoutFormContent: '<script type="text/javascript">if (typeof iyziInit == ''undefined'') {var iyziInit = {currency:"TRY",token:"8e86b16e-9c0f-450d-a09d-0fd8a27e5197",price:1.00,locale:"tr",baseUrl:"https://sandbox-api.iyzipay.com", merchantGatewayBaseUrl:"https://sandbox-merchantgw.iyzipay.com", registerCardEnabled:false,bkmEnabled:false,bankTransferEnabled:false,bankTransferTimeLimit:{"value":5,"type":"day"},bankTransferRedirectUrl:"",bankTransferCustomUIProps:{},campaignEnabled:false,campaignMarketingUiDisplay:null,paymentSourceName:"",plusInstallmentResponseList:null,payWithIyzicoSingleTab:false,payWithIyzicoOneTab:false,mixPaymentEnabled:true,creditCardEnabled:true,bankTransferAccounts:[],userCards:[],fundEnabled:false,memberCheckoutOtpData:{},force3Ds:false,isSandbox:true,storeNewCardEnabled:true,paymentWithNewCardEnabled:true,enabledApmTypes:[],payWithIyzicoUsed:false,payWithIyzicoEnabled:false,payWithIyzicoCustomUI:{},buyerName:"Bünyamin",buyerSurname:"Yaşar",merchantInfo:"",merchantName:"Sandbox Merchant Name - 376927",cancelUrl:"",buyerProtectionEnabled:false,hide3DS:true,gsmNumber:"+905554443322",email:"kerem@altintas.com",checkConsumerDetail:{},subscriptionPaymentEnabled:true,ucsEnabled:true,fingerprintEnabled:false,payWithIyzicoFirstTab:false,creditEnabled:true,payWithIyzicoLead:false,goBackUrl:"",metadata : {"debitCardAllowed":"false"},createTag:function(){var iyziJSTag = document.createElement(''script'');iyziJSTag.setAttribute(''src'',''https://sandbox-static.iyzipay.com/checkoutform/v2/bundle.js?v=1687095783108'');document.head.appendChild(iyziJSTag);}};iyziInit.createTag();}</script><script type="text/javascript">if (typeof iyziUcsInit == ''undefined'') {var iyziUcsInit = {"baseUrl":"https://sandbox-api.iyzipay.com", "ucsToken":"28fac7ba-d34b-4e21-86a8-89785364d59f","scriptType":"UCS_CONSENT","buyerProtectedMerchant":false,"maskedGsmNumber":"+90****22","gsmNumber":"+905554443322","merchantName":"Sandbox Merchant Name - 376927", createTag: function () {var iyziUcsJSTag = document.createElement(''script''); iyziUcsJSTag.setAttribute(''src'', ''https://sandbox-static.iyzipay.com/checkoutform/v2/bundle.js?v=1687095783122''); document.head.appendChild(iyziUcsJSTag);}};if (typeof iyziInit == ''undefined'') { iyziUcsInit.createTag(); }}</script><script type="text/javascript">if (typeof iyziSubscriptionInit == ''undefined'') {var iyziSubscriptionInit = {"daysOfTrialPeriod":"30","intervalCount":"1","subscriptionState":"START_WITH_TRIAL_PERIOD","interval":"WEEKLY","recurrenceCount":"5","pricingPlanPrice":"30.00"}}</script>'
                token: 8e86b16e-9c0f-450d-a09d-0fd8a27e5197
                tokenExpireTime: 1800
            allOf:
              - $ref: '#/components/schemas/StatusAndSystemTime'
              - type: object
                required:
                  - checkoutFormContent
                  - token
                  - tokenExpireTime
                properties:
                  checkoutFormContent:
                    type: string
                  token:
                    type: string
                  tokenExpireTime:
                    type: integer
                    description: Saniye cinsindendir
    CreateSubscriptionProductResponse:
      description: CreateSubscriptionProductResponse
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/StatusAndSystemTime'
              - type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SubscriptionProduct'
    UpdateSubscriptionProductResponse:
      description: UpdateSubscriptionProductResponse
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/StatusAndSystemTime'
              - type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SubscriptionProduct'
    DeleteSubscriptionProductResponse:
      description: DeleteSubscriptionProductResponse
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StatusAndSystemTime'
    GetSubscriptionProductResponse:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StatusAndSystemTime'
    ListSubscriptionProductsResponse:
      description: ListSubscriptionProductsResponse
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/StatusAndSystemTime'
              - type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ListSubscriptionProductsPagination'
    CreateSubscriptionPlanResponse:
      description: CreateSubscriptionPlanResponse
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/StatusAndSystemTime'
              - type: object
                x-stoplight:
                  id: ohuf5wrwn95e8
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SubscriptionPricingPlan'
    UpdateSubscriptionPricingPlanResponse:
      description: UpdateSubscriptionPricingPlanResponse
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/StatusAndSystemTime'
              - type: object
                x-stoplight:
                  id: kq1zvphilp4wx
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SubscriptionPricingPlan'
    DeleteSubscriptionPricingPlanResponse:
      description: Bu metod sadece name ve trialPeriodDays parametrelerinin güncellenmesine izin verir. Plan güncellemesi yapabilmek için o plana ait eşsiz referans kodu kullanılmalıdır. Güncellemenin hem API hem de iyzico merchant paneli üzerinden yapılması mümkündür.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StatusAndSystemTime'
    GetSubscriptionPricingPlanResponse:
      description: Example response
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/StatusAndSystemTime'
              - type: object
                x-stoplight:
                  id: 6esue3u58rogg
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SubscriptionPricingPlan'
    ListSubscriptionPricingPlansResponse:
      description: ListSubscriptionPricingPlansResponse
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/StatusAndSystemTime'
              - type: object
                x-stoplight:
                  id: d7h912d904qg2
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ListSubscriptionPricingPlansPagination'
    UpdateSubscriptionCustomerResponse:
      description: UpdateSubscriptionCustomerResponse
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/StatusAndSystemTime'
              - type: object
                x-stoplight:
                  id: yf06ex0aawdwo
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SubscriptionCustomer'
    GetSubscriptionCustomerResponse:
      description: GetSubscriptionCustomerResponse
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/StatusAndSystemTime'
              - type: object
                x-stoplight:
                  id: 0gwy5t9t81ne0
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SubscriptionCustomer'
    ListSubscriptionCustomersResponse:
      description: ListSubscriptionCustomersResponse
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/StatusAndSystemTime'
              - type: object
                x-stoplight:
                  id: 6s7ykwjvr8a8z
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ListSubscriptionCustomersPagination'
  schemas:
    EnumApiLocale:
      type: string
      x-stoplight:
        id: 5a4d828d027e7
      enum:
        - tr
        - en
      title: EnumApiLocale
    EnumSubscriptionStatus:
      type: string
      x-stoplight:
        id: 4c57379452b03
      enum:
        - PENDING
        - ACTIVE
      title: EnumSubscriptionStatus
    EnumApiResponseStatus:
      type: string
      x-stoplight:
        id: 56d7c5f558a10
      enum:
        - success
        - failure
      title: EnumApiResponseStatus
    EnumCurrencyUnit:
      title: EnumCurrencyUnit
      x-stoplight:
        id: mthjyzlayb72u
      enum:
        - TRY
        - EUR
        - USD
        - IRR
        - GBP
        - NOK
        - RUB
        - CHF
    EnumUpgradePeriod:
      title: EnumUpgradePeriod
      x-stoplight:
        id: rz79ei6x2u6ct
      enum:
        - NOW
        - NEXT_PERIOD
      description: EnumUpgradePeriod
    EnumSubscriptionPricingPlanInterval:
      title: EnumSubscriptionPricingPlanInterval
      x-stoplight:
        id: g42sw2l8g0dg5
      enum:
        - HOURLY
        - DAILY
        - WEEKLY
        - MONTHLY
        - YEARLY
    EnumSubscriptionProductStatus:
      title: EnumSubscriptionProductStatus
      x-stoplight:
        id: t3s24is4zojpr
      enum:
        - ACTIVE
    EnumSubscriptionPlanPaymentType:
      title: EnumSubscriptionPlanPaymentType
      x-stoplight:
        id: v5dov3avn7h28
      enum:
        - RECURRING
    PaginationResponseData:
      type: object
      x-stoplight:
        id: 5gnc3fj14e9ex
      title: List Subscriptions Pagination
      description: PaginationResponseData
      x-examples:
        Example 1:
          totalCount: 0
          currentPage: 1
          pageCount: 0
          items: []
      required:
        - totalCount
        - currentPage
        - pageCount
      properties:
        totalCount:
          type: integer
        currentPage:
          type: integer
        pageCount:
          type: integer
    StatusAndSystemTime:
      title: StatusAndSystemTime
      x-stoplight:
        id: 8lr6yya9ftpsh
      type: object
      required:
        - status
        - systemTime
      properties:
        status:
          $ref: '#/components/schemas/EnumApiResponseStatus'
        systemTime:
          type: integer
          x-stoplight:
            id: yseckmbbxoewq
      description: StatusAndSystemTime
    LocaleAndConversationId:
      title: LocaleAndConversationId
      x-stoplight:
        id: g56u6hbfgbd91
      type: object
      properties:
        id:
          type: string
          x-stoplight:
            id: khf0y32aiunt5
    Subscription:
      type: object
      x-stoplight:
        id: 4133ad61e3821
      x-examples:
        Example 1:
          referenceCode: 2c9025f4-725a-47e0-8114-97642dd63f0b
          parentReferenceCode: 47f703ce-76e9-49fd-8ef7-c46dd0942804
          pricingPlanReferenceCode: d128e8bf-60e4-42f8-8d1b-3190d61b755d
          customerReferenceCode: 525b7ac7-901a-42cf-bb9f-627c0453fb38
          subscriptionStatus: ACTIVE
          trialDays: 30
          trialStartDate: 1687093881545
          trialEndDate: 1689685881545
          createdDate: 1687093881545
          startDate: 1687093881545
          endDate: 1692709881545
      title: Subscription
      required:
        - referenceCode
        - parentReferenceCode
        - pricingPlanReferenceCode
        - customerReferenceCode
        - subscriptionStatus
        - createdDate
        - startDate
        - endDate
      properties:
        referenceCode:
          type: string
          description: Abonelik için üretilen eşsiz referans kodu.
          format: uuid
        parentReferenceCode:
          type: string
          description: Abonelik güncellemelerinde üye işeyerinin eşleştirme yapılabileceği eşsiz referans kodu.
          format: uuid
        pricingPlanReferenceCode:
          type: string
          description: Aboneliğe ait plan referans kodu.
          format: uuid
        customerReferenceCode:
          type: string
          description: Müşteri bilgilerine istinaden oluşturulmuş eşsiz müşteri kodu. Bu kod email adresi baz alınarak oluşturulur ve müşteri işlemleri bu kod ile de yapılabilir.
          format: uuid
        customerEmail:
          type: string
          x-stoplight:
            id: edxv80kmq6p53
          format: email
        subscriptionStatus:
          $ref: '#/components/schemas/EnumSubscriptionStatus'
        trialDays:
          type: integer
          description: '30'
        trialStartDate:
          type: integer
        trialEndDate:
          type: integer
        createdDate:
          type: integer
          description: '1687093881545'
        startDate:
          type: integer
          description: '1687093881545'
        endDate:
          type: integer
          description: '1687093881545'
      description: Abonelik bilgisini barındırır
    SubscriptionProduct:
      type: object
      x-stoplight:
        id: 66ae4888c2b5a
      x-examples:
        Example 1:
          referenceCode: 235dbc68-d281-4626-9c85-98002e558ce7
          createdDate: 1675684451778
          name: test
          status: ACTIVE
          pricingPlans:
            - referenceCode: a3dde7ac-dff4-4d96-a6da-5780aeee9c9a
              createdDate: 1675684471828
              name: testop
              price: 100
              paymentInterval: MONTHLY
              paymentIntervalCount: 1
              trialPeriodDays: 0
              currencyCode: TRY
              productReferenceCode: 235dbc68-d281-4626-9c85-98002e558ce7
              planPaymentType: RECURRING
              status: ACTIVE
      title: SubscriptionProduct
      description: SubscriptionProduct
      required:
        - referenceCode
        - createdDate
        - name
        - status
        - pricingPlans
      properties:
        referenceCode:
          type: string
          format: uuid
        createdDate:
          type: integer
        name:
          type: string
        status:
          $ref: '#/components/schemas/EnumSubscriptionProductStatus'
        pricingPlans:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionPricingPlan'
        description:
          type: string
          x-stoplight:
            id: lqxyx2kdfrfaq
    SubscriptionPricingPlan:
      type: object
      x-stoplight:
        id: 38631c5dde06b
      x-examples:
        Example 1:
          referenceCode: a3dde7ac-dff4-4d96-a6da-5780aeee9c9a
          createdDate: 1675684471828
          name: testop
          price: 100
          paymentInterval: MONTHLY
          paymentIntervalCount: 1
          trialPeriodDays: 0
          currencyCode: TRY
          productReferenceCode: 235dbc68-d281-4626-9c85-98002e558ce7
          planPaymentType: RECURRING
          status: ACTIVE
      title: SubscriptionPricingPlan
      required:
        - referenceCode
        - productReferenceCode
        - name
        - price
        - createdDate
        - trialPeriodDays
        - paymentInterval
        - paymentIntervalCount
        - currencyCode
        - planPaymentType
        - status
      properties:
        referenceCode:
          type: string
          format: uuid
        productReferenceCode:
          type: string
          format: uuid
        name:
          type: string
        price:
          type: number
          format: double
        createdDate:
          type: integer
        trialPeriodDays:
          type: integer
        paymentInterval:
          $ref: '#/components/schemas/EnumSubscriptionPricingPlanInterval'
        paymentIntervalCount:
          type: integer
        currencyCode:
          $ref: '#/components/schemas/EnumCurrencyUnit'
        planPaymentType:
          $ref: '#/components/schemas/EnumSubscriptionPlanPaymentType'
        status:
          $ref: '#/components/schemas/EnumSubscriptionProductStatus'
        recurrenceCount:
          type: integer
          x-stoplight:
            id: 7vs40zk3dgijs
    SubscriptionCustomer:
      type: object
      title: Subscription Customer
      description: Subscription Customer Informations
      x-examples:
        Example 1:
          identityNumber: '11111111111'
          gsmNumber: '+905336870999'
          email: oguz.ozcan@vennyx.com
          name: Oğuz
          surname: Özcan
          shippingAddress:
            address: 'Nidakule Göztepe, Merdivenköy Mah. Bora Sok. No:1'
            zipCode: '34742'
            contactName: Oğuz Özcan
            city: Istanbul
            country: Turkey
          billingAddress:
            address: 'Nidakule Göztepe, Merdivenköy Mah. Bora Sok. No:1'
            zipCode: '34742'
            contactName: Oğuz Özcan
            city: Istanbul
            country: Turkey
      required:
        - identityNumber
        - email
        - name
        - surname
        - shippingAddress
        - billingAddress
      properties:
        identityNumber:
          type: string
          description: '11111111111'
          pattern: '^[0-9]{11}$'
          minLength: 11
          maxLength: 11
        gsmNumber:
          type: string
          description: '+905001234567'
        email:
          type: string
          description: mail@domain.com
          format: email
        name:
          type: string
          description: John
        surname:
          type: string
          description: Doe
        shippingAddress:
          $ref: '#/components/schemas/SubscriptionCustomerAddress'
        billingAddress:
          $ref: '#/components/schemas/SubscriptionCustomerAddress'
    SubscriptionCustomerAddress:
      type: object
      title: Subscription Customer Address
      description: Customer address model for subscriptions
      properties:
        address:
          type: string
          description: 'Nidakule Göztepe, Merdivenköy Mah. Bora Sok. No:1'
        zipCode:
          type: string
          description: '34742'
        contactName:
          type: string
          description: John Doe
        city:
          type: string
          description: Istanbul
        country:
          type: string
          description: Turkey
      required:
        - address
        - contactName
        - city
        - country
      x-examples:
        Example 1:
          address: 'Nidakule Göztepe, Merdivenköy Mah. Bora Sok. No:1'
          zipCode: '34742'
          contactName: Oğuz Özcan
          city: Istanbul
          country: Turkey
    ListSubscriptionsPagination:
      x-stoplight:
        id: d4c231a8cacfa
      title: List Subscriptions Pagination
      description: List Subscriptions Pagination
      x-examples:
        Example 1:
          totalCount: 0
          currentPage: 1
          pageCount: 0
          items: []
      allOf:
        - $ref: '#/components/schemas/PaginationResponseData'
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Subscription'
    ListSubscriptionProductsPagination:
      title: List Subscription Products Pagination
      x-stoplight:
        id: la4v5tddttlj2
      description: List Subscription Products Pagination
      allOf:
        - $ref: '#/components/schemas/PaginationResponseData'
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              x-stoplight:
                id: zby02jz2pelzi
              items:
                $ref: '#/components/schemas/SubscriptionProduct'
    ListSubscriptionPricingPlansPagination:
      title: List Subscription Products Pagination
      x-stoplight:
        id: 4jaxe7xpsz3w5
      description: List Subscription Products Pagination
      allOf:
        - $ref: '#/components/schemas/PaginationResponseData'
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/SubscriptionPricingPlan'
    ListSubscriptionCustomersPagination:
      title: List Subscription Products Pagination
      x-stoplight:
        id: visl6mvnltgbq
      description: List Subscription Products Pagination
      allOf:
        - $ref: '#/components/schemas/PaginationResponseData'
        - type: object
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/SubscriptionCustomer'
    InitializeSubscriptionResponseFields:
      title: InitializeSubscriptionResponseFields
      x-stoplight:
        id: 1va1zfodnw6ke
      type: object
      required:
        - token
        - checkoutFormContent
        - tokenExpireTime
      properties:
        token:
          type: string
          x-stoplight:
            id: qv7oq3echmhk1
        checkoutFormContent:
          type: string
          x-stoplight:
            id: g12wy144c8g8q
        tokenExpireTime:
          type: integer
          x-stoplight:
            id: rqz90ujxepehn
      description: InitializeSubscriptionResponseFields
  parameters:
    page:
      name: page
      in: query
      required: true
      schema:
        type: integer
        minimum: 1
      description: Page number
    count:
      name: count
      in: query
      required: true
      schema:
        type: integer
        minimum: 1
      description: Count of items
security:
  - Authorization: []
